<form [formGroup]="automovel">
    <label>
        <p>Modelo</p>
        <imput type="text" formControlName="modelo"></imput>
    </label>
    <label>
        <p>Ano de Fabricação</p>
        <imput type="text" formControlName="ano"></imput>
    </label>
    <label>
        <p>Quantidade de Portas</p>
        <imput type="text" formControlName="quantidade"></imput>
    </label>
    <label>
        <p>Marca</p>
        <imput type="text" formControlName="marca"></imput>
    </label>
    <label>
        <p>Descrição</p>
        <imput type="text" formControlName="texto"></imput>
    </label>
</form>